@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  position: fixed;
  width: 0.5em;
  height: 0.5em;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(13, 62, 105);
  border-radius: 1em;
}

*::-webkit-scrollbar-thumb:vertical {
  height: 1vw;
}

:root {
  --body-black: #000000;
  --body-blue: rgb(0, 8, 78);
  --body-yeloow: rgb(233, 208, 49);
  --body-white: #fcf8f8;
  --body-gray: #242424;
  --body-red: #e61212;
  --text-color-black: #2a2a2a;
  --text-color-white: #ffffff;
  --text-color-gray: rgb(180, 180, 180);
  --text-color-blue: #0ed6bf;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-width: 360px;
  font-family: "Roboto", sans-serif;
  background-color: var(--body-white);
  letter-spacing: 0.2px;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li,
:link {
  list-style: none;
  padding-left: 0;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: unset;
}

input {
  outline: none;
  font-family: inherit;
}

button {
  border: none;
  padding: 0;
}
